// Place all the styles related to the PortfolioController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  //background-image: image-url("3px-tile.png");
  //background-image: image-url("dark_geometric.png");
  background-image: image-url("dark_mosaic.png");

  font-family:"sail", sans-serif;
  color:#FFFFFF;
}

#hero p{
  font-size:32px;
}

div#hero{
  width:50%;
  margin: 0 auto 100px auto;
}

div#maze-container{
  width:1000px;
  margin:0 auto;
}

#mazeCanvas{
  width:1000px;
  background-color: #FFFFFF;
}
